@import "../../index.scss";

.separator{
    background: $separator-color;
}

.separator .toggle{
    display: inline-block;
    float: right;
    position: relative;
}

.separator h2 {
    position: relative;
    display: inline-block;
    float: right;
  }