.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #424242;
}

.header {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://sun9-68.userapi.com/c834103/v834103024/b0702/XjmVemEGH0E.jpg');
  max-width: 100%;
  object-fit: cover;
}

.contentSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #232323;
}

.companyName {
  color: #f65261;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
