@import "../../index.scss";

* {
  font-family: $fonts;
  color: $text-color;
}

* .head .mainHade, h2{
    margin: 0 $margin-right 10px $margin-left !important;
}

h2 {
  text-align: left;
}

h4 {
  display: inline-block;
  margin: inherit;
}

a.active {
  background: $button-color !important;
}

.toggle {
  display: inline-block;
  margin: inherit;
}

.toggle a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 16px;
  border-radius: $border-radius;
  text-decoration: none;
  font-size: 17px;
  background-color: rgba(66, 66, 66, 0.1);
}

.head {
  background-image: url("https://sun9-68.userapi.com/c834103/v834103024/b0702/XjmVemEGH0E.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input {
  height: 24px;
  width: 80%;
  border-radius: $border-radius;
  border-width: 1px;
  align-content: left;
  background-color: rgba(66, 66, 66, 0.2);
  margin: inherit;
}
