$button-color: #f65261;
$backgroud-toggle-color: #424242;
$background-body-color: #232323;
$separator-color: #555555;
$text-color: #ffffff;
$fonts: "Goudy Old Style";
$border-radius: 5px;
$margin-left: 20px;
$margin-right: 10px;

body {
  margin: 0;
}